<?xml version="1.0"?>
<Button Command="{}" Width="Stretched">
	<Template>
		<HorizontalStack Background="{./Background}" Width="Stretched" Height="Stretched" Margin="3"
						MouseEnter="{Background=${ControlHighlight}}"
						MouseLeave="{Background=Transparent}">
			<Image Style="MenuIcon" Picture="{./Icon}" />
			<Label Text="{./Caption}" Width="Stretched" Height="Stretched"/>			
		</HorizontalStack>	
	</Template>
</Button>
